html,
body {
    background-color:rgb(9, 11, 23);
}

.home-page {
  width: 100vw;
  min-height: 100vh;
  background-color:rgb(9, 11, 23);
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  a {
    color: #39e991;
    &:hover {
      text-decoration: underline;
    }
  }

  .brand {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .link {
    font-size: 20px;
    font-weight: bold;
  }


  footer {
    color: #39e991;
    font-size: 12px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    .row {
      margin-bottom: 10px;
    }
  }
  
}
